# Dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Maven
target/
.m2/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Environment
.env
.env.local
*.log
